@import "stylesheet.css";
@import "css-reset.css";

:root {
  --color-green: #10b380;
  --color-yellow-green: #95b03c;
  --color-grey-blue: #2c3e50;
  --color-shadow: rgba(44, 62, 80, 0.5);
  --background-light: #F8F8F8;
}

*,
* ::before,
* ::after {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  transition: all 0.2s ease-in;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: var(--color-green);
}

a {
  color: var(--color-grey-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-yellow-green);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
